/* ///////Info Header ///////*/
@media screen and (max-width:768px) {
    .Sobremi{
        display: flex;
        flex-direction: column;
    }
    .Carru{
        border-radius: 30px;
        height: 100%;
        width: 100% !important;
    }
    .Carru-2{
        border-radius: 30px;
        height: 100%;
        width: 100% !important;
    }
    .Menu{
        grid-template-columns: 1fr !important;
        margin: 1.5rem 0 1.5rem 0;
        justify-content: center;
        justify-items: center;
    }
    .Header{
        flex-direction: column !important;
        padding: 0 !important;
        justify-content: center !important;
    }
    .Hambur{
        margin: 1rem 0;
    }
    .Cuerpo{
        padding: 0 2rem !important;
    }
    .App{
        margin-top: 12rem;
    }
}
@media screen and (max-width:1024px) {
    .Certi{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Certificado{
        margin: 0 !important;
    }
}
.Loguito{
    width: 130px;
    height: 100%;
}
.Header{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #d7d7d7;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: top 0.4s ease-out;
}
.Menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem 0 1.5rem 0;
    justify-content: center;
    justify-items: center;
}
.Hambur{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Menu a{
    color: #0099ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
    margin: 0 2rem;
}
.Menu a:hover{
    color: black !important;
    transition: 0.4s ease-in-out;
    border-bottom: solid 2px black ;
    transform:scale(1.1) ;
}
.Menu a:active{
    color: #0099ff !important;
    border-bottom: solid 2px #0099ff ;
    transform:scale(1) ;
    transition: 0s;
}
/* ///////Info Datos ///////*/
.Datos{
    display: flex;
    justify-content: space-between;
}
.Datos h4{
    font-size: 14pt;
}
.Separador{
    width: 100%;
    display: flex;
    border: solid black 1px;
    margin: 0.5rem auto;
}
.Arriba{
    margin-top: 2rem;
}
.Abajo{
    margin-bottom: 2rem;
}
.Nombre{
    color: #0099ff;
    font-weight: 800;
    font-size: 18pt;
    margin-bottom: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}
/* ///////Info Footer ///////*/
.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem ;
    padding-bottom: 2rem;
    background-color: #0099ff;
    padding-top: 2rem;
}
.Logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.Loguito:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
.Logos i{
    font-size: 36pt;
    color: #ffffff;
    text-decoration: none;
}
/* ///////Info Carousel ///////*/
.carousel-control-next{
    border-radius: 0 30px 30px 0;
    width: 10%;
}
.carousel-control-prev{
    border-radius: 30px 0 0 30px;
    width: 10%;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: #00000031;
    transition: 0.6s ease-out;
}
.Carru{
    border-radius: 30px;
    height: 100%;
    width: 85%;
}
.Carru-2{
    border-radius: 30px;
    height: 100%;
    width: 60%;
}

.Certificado{
    max-width: 90px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    margin-right: 2rem;
}
.Certi{
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
    align-items:center ;
    box-shadow:3px 3px 10px black ;
    background-color: white;
}
.Certi:hover{
    transform: scale(1.03);
    transition: all 0.5s;
    cursor: pointer;
}

/* ///////Info Stack ///////*/

.Logo{
    width: 200px;
    height: 100%;
}
.Logo:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}
.Softwares:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}
.Softwares{
    width: 150px;
    height: 100%;
}
.Gapeo{
    gap: 5rem;
}

/* ///////Portafolio ///////*/

.Imagenes{
    display: flex;
    justify-content: center;
}
.Imagenes img{
    max-width: 50%;
    box-shadow: 3px 3px 8px black;
}

.Fondo{
    background-color: #ffffff;
    padding: 1rem 3rem;
    max-width: 1440px;
    width: auto;

}
.Videos{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}
.Video{
    width: auto !important;
    max-width: 640px;
    height: auto !important;
}
.Videito{
    max-width: 400px ;
    width: 100%;
}
.Videito:hover{
    transform: scale(0.95);
    transition: 0.5s;
    cursor: pointer;
}
.Videito:active{
    transform: scale(1);
    transition: 0s;
}
.Cards{
    border-radius: 20px;
    border: solid black 3px;
    padding: 1rem;
    width: auto !important;
    margin: 0 1rem;
}

.Icono{
    font-size: 48pt;
    color: #0099ff;
}
.img-hover:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}